@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-color: var(--pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  a {
    @apply underline hover:text-[var(--catppuccin-text)];
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[var(--color-base)] text-[var(--color-text)] m-0 p-0;
  }

  main {
    @apply p-0;
  }

  #__next {
    @apply flex flex-col min-h-screen;
  }
}

@layer components {
  .animate-wave {
    @apply inline-block;
    animation: wave 2.5s ease-in-out infinite;
    transform-origin: 70% 70%;
  }

  .animate-spin-slow {
    animation: spin 4s linear infinite;
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
  }

  .wavy-title .wavy-letter {
    @apply inline-block;
    animation: float 3s ease-in-out infinite alternate;
  }

  .blog-card-container {
    @apply opacity-0 -translate-x-12;
    animation: fadeIn 0.5s ease-out forwards;
  }

  .shadow-brutal {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(14deg);
  }
  80% {
    transform: rotate(-4deg);
  }
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  to {
    @apply opacity-100 translate-x-0;
  }
}
